In [5]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup as bsoup

In [20]:
# note this is an older version of the link, it is easier to convert into a dataframe then the new one provided by the course
url = 'https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&oldid=945633050.'
r=requests.get(url)

In [21]:
#Read the table
df_table = pd.read_html(url)
df_table = df_table[0]
df_table

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
282      M8Z         Etobicoke              Mimico NW
283      M8Z         Etobicoke     The Queensway West
284      M8Z         Etobicoke  Royal York South West
285      M8Z         Etobicoke         South of Bloor
286      M9Z      Not assigned           Not assigned

[287 rows x 3 columns]

In [22]:
#Select the rows that need to be deleted
df_table_clean = df_table[df_table['Borough']!='Not assigned']

#Group the data for repeated postcodes
#Keep columns PostCode and Borough, and merge Neighbourhood cells with the same postcodes or boroughs
df_table_clean = df_table_clean.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(', '.join).reset_index()
df_table_clean.head(5)

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [23]:
#Show the shape of the target dataframe
df_table_clean.shape

(103, 3)